body{
	font-size: 3em;
	font-family:"Courier New", Courier, monospace;
	font-weight: bold;
}

div {
	width: auto; 
	text-align: center;
	margin: 20px auto 0;
}

div:first-of-type {
	margin-top: 150px;
}

body::after{
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	opacity: 0.5;
	content: "";
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  	z-index: -1;   
}

#numberOfDice{
	width: 3ch;
	text-align: center;
}

#modifiers {
	width: 4ch;
	text-align: center;
}

#numberOfDice, select, button, #modifiers {
	font-size: 1em;
	border-radius: 10px;
	font-weight: bold;
}
